.heading{
    width: 100%;
    text-align: left;
}
.heading button{
    float: right;
    border-color: white;
}
.heading h3{
    font-size: 22px;
    display: inline;
}
#start, #status{
    font-size: 22px;
}
#mario-img{
    width: 100%;
}
h4{
    background: white;
    line-height: 2;
    margin: 0px;
}
.image{
    width: 45%;
    display: inline-block;
}
.modal-dialog{
    width: 90%;
}
video{
    background: url('game_console.png');
    background-position: center;
    background-size: cover;
    padding: 25px;
}